.bd{
    background-color:  #BACEC1;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;   
      
}
.navbar{
    background-color:darkslateblue;
    font-family:cursive;
    padding-right:15px;
    padding-left:15px;
}
.navdiv{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.logo{
    font-size:35px;
    font-weight:600;
    color:white;
}
li{
    list-style:none;
    display:inline-block;
}
li a{    
    color:white;
    font-size:18px;
    font-weight:bold;
    margin-right:25px;
}
button{
    background-color: aqua;
    margin-left:10px;
    border-radius:10px;
    padding:10px;
    width:90px;
}
button a{
    color:white;
    font-weight:bold;
    font-size:15px;
}
.cont{
    width: 40%;
    height: 70%;
    border-style: solid;
    border-width: 3px;
    border-color: coral;
    border-radius: 50px;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.cont h1{
    color:azure;
}
.cont h2{
    color:azure;
}
.cont h3{
    color: azure;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.signupform{
    width: 20%;
    height: 70%;
    border-style: solid;
    border-width: medium;
    border-color: blue;
    border-radius: 10px;
    padding: 2%;
    

    
}
.loginform{
    width: 20%;
    height: 70%;
    border-style: solid;
    border-width: medium;
    border-color: navy;
    border-radius: 10px;
    padding: 2%;   
}
