{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>KanyiErick Website</title>
</head>
<body class="bd">
    <nav class="navbar">
      <div class="navdiv">
        <div class="logo"><a href="#">Code with Erick</a> </div>
          <ul>
            <button><a href="/">Home</a> </button>
            <button><a href="loginPage">Sign In</a> </button>
            <button><a href="signup">Sign Up</a> </button>
            <button><a href="blog">Blogs</a> </button>
            <button><a href="logout">Log Out</a> </button>
          </ul>

      </div>

    </nav>
  <section class="content">  
    {% block content %}
 
    {% endblock %}
  </section>  
</body>
</html>